* {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: #007FFF;
    position: relative; 
    top: -22px;
}

h2 {
    background-color:  #DF3F32; 
}

h1, h2 {
    align-items: center;
    display: flex;
    font-size: 30px;
    height: 63px;
    justify-content: center;
    margin-left: -7px;
    margin-right: -7px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef69e;
}

img {
    border: 7px solid #007FFF;
    float: left;
    height: 480px;
    margin-left: 10px;
    width: 440px;
    margin-right: 29px;
}
