* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    font-size: 25px;
    color: #007FFF;
}

a:link { 
    text-decoration: none;
}

body {
    background-color: rgb(157, 189, 218);
    background-image: url("images/foodbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

h1 {
    font-size: 48px;
    position: relative;
    text-align: center;
}

li {
    margin:0 0 15px 0;   
}

p {
    font-size: 23px;
}

.truncate-overflow {
    margin-left: 40px;   
    max-height: calc(var(--lh) * var(--max-lines));
    max-lines: 4;
    overflow: hidden;
    padding-right: 650px;
    padding-top: 45px;
    position: relative;
    text-align: justify;
}

ul {
    list-style-type: none;
}